/*=== Global ===*/
@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Montserrat:wght@500&family=Overlock+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@700&display=swap');

html {
	scroll-behavior: smooth;

}

body {
	font-size: 1.2rem;
	line-height: 1.0rem;
	font-family: 'Montserrat', sans-serif;
	

}

.offset:before {
	content: "";
	height: 62px;
	margin-top: -62px;
	display: block;
}

h1,
h2 {
	font-family: 'Marcellus', serif;
	letter-spacing: 2px;
}

h3,
h4 {
	font-family: 'Andika New Basic', sans-serif;
	letter-spacing: 1px;
	color: #0c0c0c;
}



.heading {
	text-align: center;
	text-transform: uppercase;
	color: whitesmoke;
	padding-top: 2.5em;
}

.heading-underline {
	width: 5rem;
	height: .25rem;
	background-color: whitesmoke;
	margin: 1.0rem auto;

}

#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 10px;
	z-index: 99;
	font-size: 25px;
	border: none;
	outline: none;
	background-color: crimson;
	color: white;
	cursor: pointer;
	padding: 10px 12px;
	
	border-radius: 10%;
}

#myBtn:hover {
	background-color: darkred;

}


/*============= NAVIGATION =============*/

.navbar-brand h2 {
	font-size: 1.65em;
	color: whitesmoke !important;
	padding-left: 100px;


}

.navbar {

	/**background-color:#000036;**/
	background: linear-gradient(to bottom, black, #171717, black);
	color: whitesmoke;
	padding: .6rem 1rem;
	font-size: 1.1rem;
	letter-spacing: .1rem;
	font-weight: 700;
	text-transform: uppercase;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

.navbar-nav li {
	padding-right: .8rem;
}

.navbar-nav .nav-link {
	
	color: gainsboro;

}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
	color: darkred;
	opacity.7;
	transition: .7s;

}

#home .fas {
	color: white;
	padding-right:2rem;
	

}

/*===== landing =====*/

.landing {

	background-image: url(../img/car.jpg);
	background-size: cover;
	background-position: center center;
	position: relative;
	display: table;
	width: 100%;
	min-height: 100vh;

	padding-top: 80px;
	z-index: 2;

}

/** key frame classes **/
.down {
	animation: down 2.0s;
}

.right {
	animation: right 2.0s;
}

.left {
	animation: left 2.0s;
}

.up {
	animation: up 2.0s;

}

.landing::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: black;
	opacity: .7;
	z-index: 1;
}

.caption {
	color: whitesmoke;
	top: 40%;
	position: absolute;
	text-align: left;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	z-index: 100;
}

/*===== skills =====*/

#skills {
	background: linear-gradient(to right bottom, #0f7764, rgb(10, 2, 59));
	color: whitesmoke;
	padding-bottom: 150px;
	min-height: 100vh;
	width:100%;

}
#skills .card{
	position: relative;
	text-align: center;
}
#skills img{
	position:relative;
}


#skills li {
	list-style: circle;
	text-align: left;
	line-height: 1.3em;

}

#skills ul {
	width: 80%;
	margin: auto;
}

#skills .card {
	background-color: none;
	color: #202020;
}

/*===== projects ====*/
#projects {
	background: linear-gradient(to right top, #0f7764, rgb(10, 2, 59));
	padding-bottom: 50px;
	color: #2a2a2a;

}

.card {
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
	border: none;

}

.card p {

	padding: 10px;
	line-height: 1.3em;
}

.card-img-top {
	cursor: pointer;
}

.card-footer {
	background-color: black;
}

.btn-card {
	border: 3px double darkred;
	color: white;
	border-radius: 5px;

}

.btn-card:hover {
	background-color: white;
	border: 3px solid darkred;
	color: black;
	transition: .9s;

}

/*==== about ===*/

#about {
	background: linear-gradient(to right bottom, #0f7764, rgb(10, 2, 59));
	min-height: 100vh;
	z-index: 1;
	padding-bottom: 50px;
	color: #2a2a2a;
}

.bg {
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
	margin: 25px 5px 100px 5px;
	border-radius: 3px;
	line-height: 1.25em;
}

.res {
	background-color: transparent;
}

.res a {

	color: #171717 !important;

}

.res a:hover {
	color: darkred !important;
	text-decoration: none;

	transition: 1.0s;

}

/*==== contact ====*/

#contact {
	background: linear-gradient(to right top, #0f7764, rgb(10, 2, 59));
	color: whitesmoke;
	min-height: 80vh;

}

#contact p {
	font-size: 1.25em;
}

.heading-underline-2 {
	width: 2.5rem;
	height: .10rem;
	background-color: whitesmoke;
	margin: 1.0rem auto;

}

.email:hover {
	color: white;
}

/*=== footer ===*/

footer {

	background: linear-gradient(to right top, #053a30, rgb(6, 2, 34));
	color: whitesmoke;
}

.soc:hover {
	opacity: .6;
	cursor: pointer;
	transition: .5s;

}

/*============= MEDIA QUERIES =============*/




@media (max-width: 767px) {
	body {
	font-size: 1.0rem;
	line-height: 1.0rem;
	}
	.caption {
		color: whitesmoke;
		top: 40%;
		position: absolute;
		text-align: center;
	}

	.landing {
		min-height: 150vh;
	}

	.card {
		width: 90%;
		margin: auto;
	}

	.bg {
		width: 90%;
		margin: auto;
	}

	.mobile {
		padding-bottom: 50px;
	}

	.navbar-brand h2 {
		font-size: 1.25em;
		padding-left: 0;
		text-align: left;
	}

	#contact p {
		font-size: 1.20em;
	}

	h4 {
		font-family: 'Roboto', sans-serif;
		text-align: center;
	}

}


/*==== key frames =====*/



@keyframes up {
	0% {
		opacity: 0;
		transform: translateY(100px)
	}

	100% {
		opacity: 1;
		transform: translateY(0)
	}
}

@keyframes down {
	0% {
		opacity: 0;
		transform: translateY(-200px)
	}

	100% {
		opacity: 1;
		transform: translateY(0)
	}
}

@keyframes left {
	0% {
		opacity: 0;
		transform: translateX(100px)
	}

	100% {
		opacity: 1;
		transform: translateX(0)
	}
}

@keyframes right {
	0% {
		opacity: 0;
		transform: translateX(-100px)
	}

	100% {
		opacity: 1;
		transform: translateX(0)
	}
}
